	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/01/2018 10:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-briefcase:before { content: "\f100"; }
.flaticon-social-media-7:before { content: "\f101"; }
.flaticon-social-media-6:before { content: "\f102"; }
.flaticon-social-media-5:before { content: "\f103"; }
.flaticon-mortarboard:before { content: "\f104"; }
.flaticon-university:before { content: "\f105"; }
.flaticon-taxi:before { content: "\f106"; }
.flaticon-worker-1:before { content: "\f107"; }
.flaticon-social-media-4:before { content: "\f108"; }
.flaticon-calendar:before { content: "\f109"; }
.flaticon-social-media-3:before { content: "\f10a"; }
.flaticon-social-media-2:before { content: "\f10b"; }
.flaticon-social-media-1:before { content: "\f10c"; }
.flaticon-aeroplane:before { content: "\f10d"; }
.flaticon-add:before { content: "\f10e"; }
.flaticon-reload:before { content: "\f10f"; }
.flaticon-settings:before { content: "\f110"; }
.flaticon-garbage:before { content: "\f111"; }
.flaticon-smartphone:before { content: "\f112"; }
.flaticon-builder:before { content: "\f113"; }
.flaticon-electrician:before { content: "\f114"; }
.flaticon-barber:before { content: "\f115"; }
.flaticon-pipes:before { content: "\f116"; }
.flaticon-day-15-on-calendar:before { content: "\f117"; }
.flaticon-sports-car:before { content: "\f118"; }
.flaticon-social-media:before { content: "\f119"; }
.flaticon-user:before { content: "\f11a"; }
.flaticon-stethoscope:before { content: "\f11b"; }
.flaticon-high-heels:before { content: "\f11c"; }
.flaticon-vehicle:before { content: "\f11d"; }
.flaticon-delivery:before { content: "\f11e"; }
.flaticon-roller-brush:before { content: "\f11f"; }
.flaticon-coffee-cup:before { content: "\f120"; }
.flaticon-train:before { content: "\f121"; }
.flaticon-mask:before { content: "\f122"; }
.flaticon-group:before { content: "\f123"; }
.flaticon-real-estate:before { content: "\f124"; }
.flaticon-sign:before { content: "\f125"; }
.flaticon-insurance:before { content: "\f126"; }
.flaticon-coding:before { content: "\f127"; }
.flaticon-first-aid-kit:before { content: "\f128"; }
.flaticon-squares:before { content: "\f129"; }
.flaticon-room-key:before { content: "\f12a"; }
.flaticon-multimedia:before { content: "\f12b"; }
.flaticon-down-arrow:before { content: "\f12c"; }
.flaticon-signs-1:before { content: "\f12d"; }
.flaticon-operator:before { content: "\f12e"; }
.flaticon-truck:before { content: "\f12f"; }
.flaticon-motorcycle:before { content: "\f130"; }
.flaticon-business:before { content: "\f131"; }
.flaticon-google-plus:before { content: "\f132"; }
.flaticon-login:before { content: "\f133"; }
.flaticon-home:before { content: "\f134"; }
.flaticon-twitter-logo-silhouette:before { content: "\f135"; }
.flaticon-youtube-1:before { content: "\f136"; }
.flaticon-youtube:before { content: "\f137"; }
.flaticon-more:before { content: "\f138"; }
.flaticon-black-plane:before { content: "\f139"; }
.flaticon-shopping-cart:before { content: "\f13a"; }
.flaticon-turn-notifications-on-button:before { content: "\f13b"; }
.flaticon-train-public-transport:before { content: "\f13c"; }
.flaticon-menu-button:before { content: "\f13d"; }
.flaticon-google-plus-logo:before { content: "\f13e"; }
.flaticon-facebook-logo:before { content: "\f13f"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f140"; }
.flaticon-rupee-indian:before { content: "\f141"; }
.flaticon-heart-shape-silhouette:before { content: "\f142"; }
.flaticon-list:before { content: "\f143"; }
.flaticon-technology:before { content: "\f144"; }
.flaticon-chat:before { content: "\f145"; }
.flaticon-twitter:before { content: "\f146"; }
.flaticon-facebook:before { content: "\f147"; }
.flaticon-contact:before { content: "\f148"; }
.flaticon-car:before { content: "\f149"; }
.flaticon-signs:before { content: "\f14a"; }
.flaticon-worker:before { content: "\f14b"; }
.flaticon-cancel:before { content: "\f14c"; }
.flaticon-earth-globe:before { content: "\f14d"; }
.flaticon-speaker:before { content: "\f14e"; }
.flaticon-gift:before { content: "\f14f"; }
.flaticon-back:before { content: "\f150"; }
.flaticon-next:before { content: "\f151"; }
.flaticon-avatar:before { content: "\f152"; }
.flaticon-magnifying-glass:before { content: "\f153"; }
.flaticon-social:before { content: "\f154"; }
.flaticon-star:before { content: "\f155"; }
.flaticon-restaurant:before { content: "\f156"; }
.flaticon-shopping-bag:before { content: "\f157"; }
.flaticon-monitor:before { content: "\f158"; }